/* Write your CSS code in this file */

body{
    
    background-color: rgb(55, 55, 55);
    font-family: 'Source Code Pro', monospace;
    background-image: linear-gradient(#2d2c2c, #949091);
    
}
    
header {
    text-align: center;
    padding-bottom: 2rem;
    font-size: larger;

}

main {
    text-align: center;
    color: white;
    font-size: larger;
}

img {
    padding-bottom: 2rem;
}

.previousList {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

input[type=button],
input[type=submit] {
  background-color: #0c7557;;
  border-radius: 20%;
  color: #fff;
  padding: 15px 30px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

h1 {
    color:#18f1b4;
    border:1px;
    border-color: white;

}

h2 {
    color: white;
}

img {
    border-radius: 50%;
}

.guessField {
    width:35px;
  padding:15px 30px;
  background-color: #0c7557;
  border-radius: 20%;
  color: white;
  font-family: 'Source Code Pro', monospace;
  text-align: center;
}


